
<ion-header>

  <ion-navbar>
    <ion-title>detailSubRoute</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card style="padding:10px; text-align: center" *ngFor="let x of routeList">
  <ion-card-header style="background-color:orange">
    <h2><strong>TUJUAN RASTRA</strong></h2>
  </ion-card-header>
  <ion-list>
  <ion-item *ngFor="let item of desaList" >
    <ion-icon name="pin" item-start></ion-icon>
  {{item.desa}}
  <ion-badge style="background-color:orange;color:black" item-end>{{item.load}}</ion-badge>
  </ion-item>
    </ion-list>
    <button  *ngIf="x.isDelivered" style="background-color:orange;color:black" ion-button block disabled>Antar</button>
    <button *ngIf="!x.isDelivered"  style="background-color:orange;color:black" ion-button block (click)="antar()">Antar</button>
    </ion-card>
</ion-content>
