
<ion-header>

  <ion-navbar>
    <ion-title>Detail Sub-Route</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div #map id="map"></div>
<ion-card  style="padding:10px; text-align: center" *ngFor="let x of routeList">
  <ion-card-header style="background-color:orange">
    <h2><strong>TUJUAN RASTRA</strong></h2>
  </ion-card-header>
  <ion-list *ngIf="selectedKoor" >
  <ion-item *ngFor="let item of desaList; index as i" (click)="ShowRoute(selectedKoor[routeidx[i]],selectedKoor[routeidx[i+1]])">
    <ion-icon name="pin" item-start></ion-icon>
  {{item.desa}} 
  <ion-badge style="background-color:orange;color:black" item-end>{{item.load}}</ion-badge>
  </ion-item>
    </ion-list>
    <button  *ngIf="x.isDelivered" style="background-color:orange;color:black" ion-button block disabled>Antar</button>
    <button *ngIf="!x.isDelivered"  style="background-color:orange;color:black" ion-button block (click)="antar()">Antar</button>
    </ion-card>
</ion-content>
